# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: eff01bd098e167806e8f50d2072e85c7d573bc0ddfe8b0308f090133cd39c25141f4960c3f7da9648891eb998879913f79aafb85156747377aed3fc6a10d8ba7


test:
  secret_key_base: 2672f794da7e29b834052cd7d23fb26974a1f47d6053cd584d27b6c9af57901a44575963cacb5673c55a6a708f112aabb8f882f319ef1da3717ab28a2c037a08

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: 9f60567c335f2fe9e67378cdc25c244c5aa7edc11570fec43935ae4f3fabbd1b58445f5f9d49b75472666504525000d3de35794ce00855cc0fe676ba519328dc
