<div class="row clearfix">
  <div class="col-md-6 column">
    <div class="jumbotron dashboard">
    <h1>Welcome</h1>
<p>This is just the beginning.</p>
 <p>Take a ride with us as we create a grand adventure..</p>
  <p>
    <a class="btn btn-primary btn-large" href="/game">Go to the game</a>
  </p>
    </div>
  </div>
  <div class="col-md-6 column">
    <h3>
      The choice is yours.
    </h3>
    <p class="dashboard">
      Become a fearless warrior or witty mage. Crush your enemies under your feet or win them over with your wit. If you had a choice, would you become feared or loved? Join us as we attempt to bring you the joys of olden days, where imaginations ran high and adventures were long. Built from the ground up using the amazing D20 dice system, this RPG is for you!
    </p> 
    <span class="label label-default">Releases</span>
    <table class="table dashboard">
      <thead>
      <tr>
        <th>
          #
        </th>
        <th>
          Version
        </th>
        <th>
          Released On
        </th>
        <th>
          Status
        </th>
      </tr>
      </thead>
      <tbody>
      <tr class="active">
        <td>
          0
        </td>
        <td>
          ?.?.?
        </td>
        <td>
          --/--/----
        </td>
        <td>
          Unreleased
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>